@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a, a:visited {
    color: #669;
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-weight: normal;
    color: #333;
}
.project-page h1 {
    margin-top: 220px;
    font-size: 50px;
}
p {
    text-align: justify;
}
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #555;
}
button#reason {
    position: fixed;
    right: 20px;
    top: 120px;
}
form#search {
    display: none;
}
.main-button {
    display: inline-block;
    padding: 15px 45px;
    background-color: #64caff;
    color: white;
    border-radius: 3px;
}
.main-page-section h2 {
    font-size: 26px;
    font-weight: normal;
}
.main-page-section-header {
    position: sticky;
    top: -510px;
    background-color: #003474;
    height: 600px;
    color: white;
    padding: 150px 150px;
}
.main-page-section-header h1,
.main-page-section-js_of_ocaml h2,
.main-page-section-header h2 {
    color: white;
}
.main-page-section-header .main-button {
    margin-top: 50px;
}
.main-page-section-header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.main-page-section-header h2 {
    font-size: 16px;
}
.page-header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,40,100,0.9);
    box-shadow: 0 3px 3px rgba(0,40,100,0.9);
    height: 90px;
    padding: 10px 20px;
    text-align: right;
}
.page-header a {
    color: white;
}
.page-header p.logo-ocsigen img {
    width: 100px;
}
.page-header ul {
    line-height: 30px;
    margin: 10px 0;
    font-size: 12px;
}
.page-header li {
    display: inline-block;
    padding: 5px 15px;
    color: #bbb;
}
.page-header li.mainmenu-current {
    color: white;
    border-bottom: 4px solid #64caff;
}
.page-header .logo-ocsigen {
    position: absolute;
    left: 30px;
    top: 20px;
}
.main-page-section-partners {
    background-color: #aaddff;
    text-align: center;
}
.main-page-section-partners ul {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    margin: 20px 0;
}
.main-page-section-partners li {
    display: inline-block;
    padding: 5px 20px;
}
.main-page-section-partners img {
    width: 100px;
}
.main-page-section-partners img.logo-cnrs {
    width: 50px;
}
.main-page-section-content {
    max-width: 1200px;
    padding: 50px;
    margin: 0 auto;
}
.main-page-section-multitier {
    background-color: white;
    color: #888;
}
.main-page-section-js_of_ocaml {
    background-color: #003474;
    color: white;
}
.main-page-section-about {
    background-color: #dddddd;
    color: #888;
}
.main-page-section-projects {
    background-color: #ccc;
    color: #888;
}
.main-page-schema-multitier {

}
.main-page-schema-js_of_ocaml {
}
.main-page-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.main-page-project {
    width: 400px;
    height: 250px;
    background-color: white;
    padding: 30px;
    margin: 20px;
}

.project-page {
    margin: 120px auto;
    max-width: 900px;
}



/****** Switch button (from html_of_wiki) *****/
/* Update the switch button's content */
body:not(.reason) button#reason::after {
	content: 'Reason';
}
body.reason button#reason::after {
	content: 'OCaml';
}

/* <pre> is shared among the original and automatically translated code, so we
 * only hide those containing manually translated code, which would otherwise
 * appear as empty boxes (with a background, because <code> is inline). */
body:not(.reason) pre.language-reason.manually-translated,
body.reason pre.language-ocaml.manually-translated,
/* Hide the translated ReasonML code from OCaml users */
body:not(.reason) code.language-reason,
/* API pages only use <pre> elements for OCaml code... */
body.reason pre.language-ocaml.standalone,
body:not(.reason) pre.language-reason.standalone,
/* Hide the original OCaml code from ReasonML users */
body.reason code.language-ocaml:not(.error) {
	display: none
}
