---
layout: null
---

{% include header.html %}

<div class="row">

  <div class="col-sm-8">

    {% for post in site.posts %}

    <h1 class="page-header">
      <a href="{{ post.url }}">{{post.title}}</a>
      {% if post.date %}
      <br>
      <small>
        {% if post.author %}
        Written by
        {% if post.authorurl %}
        <a href="{{ post.authorurl }}">{{ post.author }}</a>
        {% else %}
        {{ post.author }}
        {% endif %}
        on
        {% endif %}
        {{ post.date | date: '%B %d, %Y' }}
      </small>
      {% endif %}
    </h1>

    {{ post.content }}

    {% else %}

    <h1 class="page-header">Welcome!</h1>
    <div class="alert alert-warning" role="alert">No posts!</div>

    {% endfor %}

  </div>

  <div class="col-sm-4">
    <h1 class="page-header">Older Posts</h1>

    {% for post in site.posts %}

    {% if forloop.first == true %}
    <ul class="media-list">
      {% endif %}
      <li class="media">
        <h4 class="media-heading">
          <a href="{{ post.url }}">{{ post.title }}</a><br>
          <small>{{ post.date | date: '%B %d, %Y' }}</small>
        </h4>
      </li>
      {% if forloop.last == true %}
    </ul>
    {% endif %}

    {% else %}

    <div class="alert alert-warning" role="alert">No posts!</div>

    {% endfor %}

  </div>

</div>

{% include footer.html %}
