{% include header.html %}

<div class="row">

  <div class="col-sm-8">

    <h1 class="page-header">
      {{ page.title }}
      {% if page.date %}
      <br>
      <small>
        {% if page.author %}
        Written by
        {% if page.authorurl %}
        <a href="{{ page.authorurl }}">{{ page.author }}</a>
        {% else %}
        {{ page.author }}
        {% endif %}
        on
        {% endif %}
        {{ page.date | date: '%B %d, %Y' }}
      </small>
      {% endif %}
    </h1>

    {{ content }}

  </div>

  <div class="col-sm-4">

    <h1 class="page-header">Other Posts</h1>

    {% for post in site.posts %}

    {% if forloop.length > 1 %}

    {% if forloop.first == true %}
    <ul class="media-list">
      {% endif %}

      {% if post.id != page.id %}
      <li class="media">
        <h4 class="media-heading">
          <a href="{{ post.url }}">{{ post.title }}</a><br>
          <small>{{ post.date | date: '%B %d, %Y' }}</small>
        </h4>
      </li>
      {% endif %}

      {% if forloop.last == true %}
    </ul>
    {% endif %}

    {% else %}

    <div class="alert alert-warning" role="alert">No posts!</div>

    {% endif %}

    {% endfor %}

  </div>

</div>

{% include footer.html %}
